/* Add CSS Styling */
.odd {
    background-color: rgb(255, 0, 132);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second {
    color: rgb(11, 11, 228);
    font-size: 36px;
}

.odd.third {
    font-size: 24px;
}

#fourth {
    background-color: rgb(115, 235, 115);
    font-size: 24px;
    font-weight: 700;
}