/* Add CSS Styling */
.btn-1 {
    background-color: #000;
    color: #ffff;
}

.btn-2 {
    background-color: #ffff00;
}

.btn-1,
.btn-2 {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}